.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  width: 150px;
}

.banner {
  position: relative;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
}

.card {
  position: absolute;
  top: 120px;
  left: 150px;
  width: 300px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  transform: translateY(20px);
  transition: opacity 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.card.loaded {
  opacity: 1;
  transform: translateY(0);
}

.title {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}

.description {
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}

.play-button {
  background-color: red;
  color: white;
  border: none;
  width: 150px;
  margin: 2% 20%;
}

.SelectGenre {
  background-color: red;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  padding: 0.5rem;
  width: 100%;
  font-size: 16px;
  appearance: none;
  cursor: pointer;
}

option{
  background: red;
  margin: 2px;
  border-radius: 2px;
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.lineargnt {
  background: linear-gradient(to top, black, transparent);
  height: 300px;
  position: relative;
  left: -20px;
  bottom: -200px;
  width: 102.5%;
}
