.body {
  background-color: #1d1d1d;
  padding: 20px;
}

.category {
  display: flex;
  overflow-x: auto;
  padding: 20px;
  background: #000;
}

.body ::-webkit-scrollbar{
  display: none;
}

.Body-card {
  width: 200px;
  height: 400px;
  background-color: #333;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.title {
  color: white;
  font-size: 18px;
  margin-bottom: 5px;
  text-align: center;
}

.titleDiv {
  height: 55px;
}

.descriptionDiv{
  height: 100px;
  margin-top: 10px;
}

.poster {
  position: relative;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.poster:hover {
  transform: scale(1.5);
  z-index: 999;
}

.overviewDiv {
  height: 60px;
}

.description {
  color: white;
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
}

.Bodycard{
  padding: 10px;
}

.play-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
